<div class="jumbotron">
  <img src="<%= @banner.img %>" class="" width="100%" >
  <h1><%= @banner.title %></h1>
  <p class="lead"><%= @banner.content %></p>
  <span class="star-rating">
    <i></i>
    <i></i>
    <i></i>
    <i class="on"></i>
    <i></i>
  </span>
  <p id="count">4.2 점 (250명)</p>
  <p><a class="btn btn-lg btn-success" href="/post/show/<%= @banner.id %>" role="button">자세히보기</a></p>
</div>

<div class="row marketing">
  <% @posts.each do |a| %>
    <div class="col-lg-6">
      <h4><%= a.title %></h4>
      <img src="<%= a.img %>" class="" width="320px" height="320px" >
      <p><%= a.content %></p>
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
      </span>
      <p id="count">4.2 점 (250명)</p>
      <p><a class="btn btn-sm btn-success" href="/post/show/<%= a.id %>" role="button">자세히보기</a></p>
    </div>
  <% end %>
</div>

